.review {
  text-align: center;
  padding: 60px 20px;
  background:white;
}

.review h2 {
  color: purple;
  margin-bottom: 25px;
  font-size: 28px;
}

.review-form {
  max-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.review-form input,
.review-form select,
.review-form textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid purple;
  border-radius: 10px;
  outline: none;
  font-size: 15px;
  transition: 0.3s;
}

.review-form input:focus,
.review-form textarea:focus,
.review-form select:focus {
  border-color:plum;
  box-shadow: 0 0 5px purple;
}

.review-form button {
  background-color: purple;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.review-form button:hover {
  background-color: plum;
}
