/* General Header */
.header {
  background:purple;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  padding: 10px 0;
  position: sticky;
  top: 0;
  z-index: 100;
}
.logo{
  height:100px;

}
/* Navbar Container */
.navbar  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
}

/* Logo */
.navbar-brand {
  font-size: 1.6rem;
  font-weight: bold;
  color:black;
  padding: -20px;
  margin-left:-730px;
  
  text-decoration: none;
  width: 60px;
  height: 200px;
}
/* Nav Links */
.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
  margin: 0;
  padding: 0;
}

.nav-links a {
  text-decoration: none;
  color:#ffcc00 ;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover,
.nav-links a.active {
  color:black;
}
